<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css" integrity="sha512-SUwyLkI1Wgm4aEZkDkwwigXaOI2HFLy1/YW73asun4sfvlkB9Ecl99+PHfCnfWD0FJjIuFTvWMM7BZPXCckpAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app" class="container ">
    <header>
      <div class="header_Left">
       <div class="main_utente">
         <img src="img/avatar_7.jpg" alt="">
         <span>Davide</span>
       </div>
       <div class="header_icons" >
        <i class="fas fa-circle-notch"></i>
        <i class="fas fa-comment-alt"></i>
        <i class="fas fa-ellipsis-v"></i>
       </div>
      </div>


      <div class="header_Right">
        <div 
          class="chat-none" 
          v-if="indice<0">
        </div>
        <!--Indicatore della chat attiva (header right)-->
        <div  v-else class="info_accesso">
          <img  :src="contacts[indice].avatar" alt="">
          <div>
           
            <div class="nome_utente">
              {{contacts[indice].name}}
            </div>
            <div class="accessi">
              {{getLastDate(indice)}}
            </div>
          </div>
          <!-- ----------------------- -->
        </div>
        <div  class="header_icons">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    </header>



    <main>
      <div class="main_Left">
        <div class="notifiche_messaggi">
          <i class="fas fa-bell-slash"></i>
          <div>
            <div class="ricevi_notifiche">Ricevi notifiche di nuovi ,messaggi</div>
            <div class="attiva_notifiche">Attiva notifiche desktop</div>
          </div>
          
        </div>
        <div class="input-contatti-cercati clearfix">
          <button>
            <i class="fas fa-search"></i>
          </button>

          <!--input di ricerca contatto  -->
          <input
            @keyup="cerca_nome"
            @keydown.enter="cerca_nome_completo"
            v-model="nome_cercato"
            type="text" 
            placeholder="Cerca o inizia una nuova chat!"
          >
          <!-- ------------------- -->

        </div>


        
        
        <ul > 
          <!-- Lista contatti (contatti trovati) -->
          <li 
          class="clearfix"
          @click="chatActive(index)"
          v-for="(contact,index) in contacts"
          :class="{'display': contact.visible !== true,active: indice===index}"
          >
            
              <img :src="contact.avatar" alt="">
              <div class="utente_accessi">
                <div class="nome_utente">
                  {{contact.name}}
                </div>
                <div v-if="getLastMessage(index)===0">
                  sta scrivendo...
                </div>
                <div v-else class="accessi"> 
                  {{ getLastMessage(index)}}
                </div>
              </div>
             
                
              <div  class="data_accesso">
                <span>
                  {{getLastDate(index)}}
                </span>
              </div>
          </li>
           <!-- ----------------------------- -->
        </ul>
      </div>
     
       

      <div class="main_Right">
        <div class="main_Right_Top">
          
          <div class="container_messaggi">
            <div v-if="indice<0"></div>
            <!-- Messaggi Chat -->
            <div 
              v-else
              v-for="message in contacts[indice].messages"
              :class="message.status"
            >
              <div class="testo_messaggio">{{message.message}}</div>
              <div class="data_messaggio">{{message.date}}</div>
            </div>
            <!-- ---------------------------- -->
          </div>
        </div>

        <div class="main_Right_Bottom">
            <i class="far fa-smile"></i>
            <!-- input di inserimento messaggio -->
            <input 
              v-model="messaggioDaInviare"
            
              @keydown.enter="inserisci_messaggio(messaggioDaInviare,indice)"
              type="text" 
              placeh
              older="Scrivi un messaggio"
            >
            <!-- ---------------------------------- -->
          <i class="fas fa-microphone"></i>
        </div>
     </div>
    </main>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>
        
          
          
          

            
       